<%= provide(:title, "Contact") %>
<div>
  <h1 style="text-align: center">
    <span style="text-underline: darkred" id="contact"> Contact information: </span>
  </h1>
  <h2 style="text-align: center">
    <ul>Name: WG.D3V INC. </ul>
    <ul>Email: WGDevelopment@protonmail.com</ul>
  </h2>
</div>