<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield(:title) %> | Ruby on Rails Tutorial Sample App
    </title>
  </head>
  <body>
    <div>
      <h1 style="text-align: center">
          <a href="http://railstutorial.com/">Help</a>
      </h1>
      <h2 style="text-align: center">
        <a href=home  >Home</a>
      </h2>
    </div>
  </body>
</html>




