<% provide(:title, "Page Title") %>
<!DOCTYPE html>
 <html lang="en">
  <head>
    <title><%= yield(:title) %> Ruby on Rails Tutorial Sample App</title>
    <meta content="text/html; charset=utf-8" />
  </head>
  <body>
    <div>
      <h1>Sample App</h1>
        <p>
          This is the home page for the
        <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
    </div>
  </body>
</html>







