<% provide(:title, "Home") %>
<div class="center jumbotron " id="welcome-div">
  <h1>Welcome to the Sample App || Home page</h1>
  <h2>
    This is the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <%= link_to "Sign up now!", sign_up_path, class: "btn btn-lg btn-primary" %>
</div>
<div class=" center">
  <div class="center-block text-center" id='rails-logo'>
    <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "100%"), "https://rubyonrails.org/" %>
  </div>
  <h2 class="bg-info">Click on me to view Ruby on Rails Documentation</h2>
</div>
