<%
=begin%>
 <%= provide(:title, "Login") %>
<h2 class="center">Login</h2>
<form class="login-form container-fluid jumbotron center" id='login'>
  <label for="email">Email</label>
  <input type='email' placeholder="email" value="" autofocus>
  <label for="email">Email</label>
  <input type='password' placeholder="password" value="" autofocus>
  <input type="submit" resource="user"/>
</form> 
<%
=end%>