<%provide(:title, "Login") %>
<form class="login-form" name="user-login" id='login-form' accept-charset="Big5">
  <label for="login-form">Login</label>
  <label for="email">Email</label>
  <input type='email' placeholder="email" value="" autofocus>
  <label for="email">Email</label>
  <input type='password' placeholder="password" value="" autofocus>
  <input type="submit"/>
</form>