<% provide(:title, "Signup") %>
  <div class="center jumbotron">
    <h1>Sign up below</h1>
<!--    <form action="signup.html.erb">-->
      <input type="string" placeholder="email">
      <input type="password" placeholder="password">
<!--    </form>-->
  </div>
