<% provide(:title, "User Index") %>
<div class="container">
  <ol>
    <% @users.each do |user| %>
      <% user.attributes.map do |at|  %>
      <li><%= at[:first_name].to_s %></li>
      <li> <%= at[:last_name] %></li>
      <li><%= at[:email] %></li>
     <% end %>
    <% end %>
  </ol>
</div>