<!DOCTYPE html>
<html>
<%#= render 'layouts/default' %>
<body>
<%= render 'layouts/header' %>
<%= yield %>
<!--<div class="container">-->

  <%#= render 'layouts/footer' %>
<!--</div>-->
</body>
</html>